<%- content_for :header do %>
  <%= stylesheet_link_tag "event" %>
  <%= javascript_include_tag "new_project" %>
  <script type="text/javascript">
    var commit_stamps = <%= @commits %>;
  </script>
<%- end %>

<div class="wrap clearfix" id="main" role="main">
  <div class="left">
    <h1><%= @event.name %></h1>
  </div>
  <%- if user_logged_in? %>
    <div class="right">
      <span class="add_project">Add project</span>
      <%= form_for(@new_project, :class=>"new_project") do |f| %>
        <select class="user_repos"></select>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :project_url %>
        <%= f.hidden_field :description %>
        <%= f.hidden_field :event_id %>
        <%= f.submit :value=>"Add this project!" %>
      <%- end %>
    </div>
  <%- end %>

  <div class="clearfix" id="hackbadge">

    <%- @event.projects.each do |p| %>
      <div class="thebadge left">
        <h2><%= p.name %></h2>
        <%= link_to "TODO link", "" %>
        <p><%= p.description %></p>
        <div class="center">
          <%- p.contributors.each do |c| %>
            <%= image_tag c.avatar_url %>
          <%- end %>
        </div>
        <div class="likes">
          <p><%= pluralize p.votes_count, "votes" %> <a href="javascript:void(0);">
            <%= image_tag("likeDefault.png") %></a>
          </p>
        </div>
      </div>
    <%- end %>
  </div>
</div>
