<%- content_for :header do %>
  <%= stylesheet_link_tag "event" %>
  <%= javascript_include_tag "new_project" %>
  <script type="text/javascript">
    var commit_stamps = <%= @commits %>;
    $(document).ready(function(){
      
    });
  </script>
<%- end %>

<div class="wrap clearfix" id="main" role="main">
  <div class="left">
    <h1><%= @event.name %></h1>
  </div>
  <%- if user_logged_in? %>
    <div class="right">
      <span class="add_project">Add project</span>
      <%= form_for(@new_project, :class=>"new_project") do |f| %>
        <select class="user_repos"></select>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :project_url %>
        <%= f.hidden_field :description %>
        <%= f.hidden_field :event_id %>
        <%= f.submit :value=>"Add this project!" %>
      <%- end %>
    </div>
  <%- end %>

  <div class="clearfix" id="hackbadge">

    <%- @event.projects.each do |p| %>
      <div class="thebadge left">
        <h2><%= p.name %></h2>
        <%= link_to "go to app &rarr;".html_safe, p.project_url %>
        <p><%= p.description %></p>
        <div class="center">
          <%- p.contributors.each do |c| %>
            <%= image_tag c.avatar_url %>
          <%- end %>
        </div>
        
        <div class="likes">
          <p>
            <span class="votes"><%= p.votes_count %></span>
            <%- if user_logged_in? and !@current_user.voted_for?(p.id) and (@current_user.id != p.user_id) %>
              <%= form_for p.votes.build(:user_id=>@current_user.id), :remote=>true, :html=>{:'data-type'=>'html', :class=>'voting_form'} do |f| %>
              
                <%= f.hidden_field :project_id, :value => p.id %>
                <%= image_submit_tag 'likeDefault.png', :class=>"vote_button" %>
              <%- end %>
          <%- end %>
          </p>
        </div>
      </div>
    <%- end %>
  </div>
</div>
