<!DOCTYPE html>
<html>
<head>
  <title>Hackbadge</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p>
    <% if current_user %>
      Welcome <%= current_user.name %>!
      <%= link_to "Sign Out", signout_path %>
    <% else %>
      <%= link_to "Sign in with Twitter", "/auth/twitter" %>
    <% end %>
  </p>

<%= yield %>

</body>
</html>
